<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{menuItems.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{menuItems.add.headline}]]</h1>
                <div>
                    <a th:href="@{/menuItems}" class="btn btn-secondary">[[#{menuItems.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('menuItems')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='menuItems', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='menuItems', field='price', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='menuItems', field='currency', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='menuItems', field='createdAt', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='menuItems', field='updatedAt', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='menuItems', field='menu', type='select')}" />
                <input type="submit" th:value="#{menuItems.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
